.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #ececec;

  }

.footer a {
    color: black;
}


.footer p {
    color: black;
}
  
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger:focus{
    background-color: #c11724 !important;
    border-color: #c11724 !important;
    outline-color: #c11724 !important;
 }

.bg-danger{
  background-color: #c11724 !important;
}
 